Repository kyupid/baseball, pull requests merged in 2021-05, with the labels that each got.

#4 BE/feature/construction
  BE/build.gradle
  BE/src/main/java/com/example/baseball/BaseballApplication.java
  BE/src/main/java/com/example/baseball/entity/BallCount.java
  BE/src/main/java/com/example/baseball/entity/Game.java
  BE/src/main/java/com/example/baseball/entity/GameList.java
  BE/src/main/java/com/example/baseball/entity/Player.java
  BE/src/main/java/com/example/baseball/entity/Sbo.java
  BE/src/main/java/com/example/baseball/entity/Score.java
  BE/src/main/java/com/example/baseball/entity/Team.java
  BE/src/main/resources/application.properties
  BE/src/main/resources/schema.sql
  BE/src/test/java/com/example/baseball/BaseballApplicationTests.java
Labels: BE, enhancement

#5 Feature main UI
  iOS/Baseball/Baseball.xcodeproj/project.pbxproj
  iOS/Baseball/Baseball.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Baseball/Baseball.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Baseball/Baseball/AppDelegate.swift
  iOS/Baseball/Baseball/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/Baseball/Baseball/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Baseball/Baseball/Assets.xcassets/Contents.json
  iOS/Baseball/Baseball/Base.lproj/LaunchScreen.storyboard
  iOS/Baseball/Baseball/Base.lproj/Main.storyboard
  iOS/Baseball/Baseball/GameListCell.swift
  iOS/Baseball/Baseball/GameListCell.xib
  iOS/Baseball/Baseball/Info.plist
  iOS/Baseball/Baseball/SceneDelegate.swift
  iOS/Baseball/Baseball/ScoresViewController.swift
  iOS/Baseball/Baseball/ViewController.swift
  iOS/Baseball/BaseballTests/BaseballTests.swift
  iOS/Baseball/BaseballTests/Info.plist
  iOS/Baseball/BaseballUITests/BaseballUITests.swift
  iOS/Baseball/BaseballUITests/Info.plist
Labels: iOS

#13 Feature score page
  iOS/Baseball/Baseball.xcodeproj/project.pbxproj
  iOS/Baseball/Baseball/Base.lproj/Main.storyboard
  iOS/Baseball/Baseball/Controller/PlayViewController.swift
  iOS/Baseball/Baseball/Controller/ScoresViewController.swift
  iOS/Baseball/Baseball/View/BallCountCell.swift
  iOS/Baseball/Baseball/View/BallCountCell.xib
  iOS/Baseball/Baseball/View/PlayerInformationCell.swift
  iOS/Baseball/Baseball/View/PlayerInformationCell.xib
Labels: iOS

#14 [#9] feature : 공격화면 API
  BE/src/main/java/com/example/baseball/controller/GameScoreController.java
  BE/src/main/java/com/example/baseball/dto/GameDTO.java
  BE/src/main/java/com/example/baseball/dto/GameScoreResponseDTO.java
  BE/src/main/java/com/example/baseball/dto/HalfInningGameResponseDTO.java
  BE/src/main/java/com/example/baseball/dto/PlayerResponseDTO.java
  BE/src/main/java/com/example/baseball/service/GameScoreService.java
Labels: BE

#25 Feature network api
  iOS/Baseball/Baseball.xcodeproj/project.pbxproj
  iOS/Baseball/Baseball/Base.lproj/Main.storyboard
  iOS/Baseball/Baseball/Controller/MainViewController.swift
  iOS/Baseball/Baseball/Controller/PlayViewController.swift
  iOS/Baseball/Baseball/Controller/ScoresViewController.swift
  iOS/Baseball/Baseball/Info.plist
  iOS/Baseball/Baseball/Model/Entity/GameEntity.swift
  iOS/Baseball/Baseball/Model/FetchGame.swift
  iOS/Baseball/Baseball/Model/FetchingGameListUseCase.swift
  iOS/Baseball/Baseball/Model/FetchingGameUseCase.swift
  iOS/Baseball/Baseball/Model/Network/DTO.swift
  iOS/Baseball/Baseball/Model/Network/DetailPlayerDTO.swift
  iOS/Baseball/Baseball/Model/Network/EndPoint.swift
  iOS/Baseball/Baseball/Model/Network/GameDTO.swift
  iOS/Baseball/Baseball/Model/Network/GameListDTO.swift
  iOS/Baseball/Baseball/Model/Network/Network.swift
  iOS/Baseball/Baseball/Model/ViewModel/GameListViewModel.swift
  iOS/Baseball/Baseball/Model/ViewModel/GameViewModel.swift
  iOS/Baseball/Baseball/View/BallCountCell.swift
  iOS/Baseball/Baseball/View/GameListCell.swift
  iOS/Baseball/Baseball/View/GameListCell.xib
  iOS/Baseball/Baseball/View/GameScreenView.swift
  iOS/Baseball/Baseball/View/PlayerInformationCell.swift
Labels: iOS
